body
{
    background-size: cover;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#start, #number_objects,#start
{
font-size: 18px;
}
canvas
{
    border: 2px solid rgb(13, 161, 194);
    box-shadow:  15px 15px 15px rgb(22, 8, 174);
    border-radius: 10px;
    margin-top: 130px;
}
.copy_right_footer
{
    position:fixed;
    color: aqua;
    bottom: 0;
    width: 100%;
    background-color: rgba(51, 197, 205, 0.662);
    line-height: 2;
    text-align:center;
}